.navbar{
position:fixed;
top:0;
left:0;
width:100%;
z-index:999;
transition:.35s;
}

.scrolled{
backdrop-filter:blur(18px);
background:rgba(5,5,5,.65);
border-bottom:1px solid rgba(255,255,255,.08);
}

.container{
width:min(1280px,calc(100% - 48px));
margin:auto;
height:84px;

display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
width:50px;
transition:.3s;
}

.logo:hover{
transform:scale(1.08);
}

.navLinks{
display:flex;
gap:38px;
}

.navLinks a{
color:#F5F5F7;
text-decoration:none;
position:relative;
transition:.3s;
}

.navLinks a::after{
content:"";
position:absolute;
left:0;
bottom:-8px;
width:0%;
height:2px;
background:#D4AF37;
transition:.35s;
}

.navLinks a:hover::after{
width:100%;
}

.menu{
display:none;
background:none;
border:none;
color:white;
font-size:1.8rem;
}

@media(max-width:900px){

.menu{
display:block;
}

.navLinks{
position:absolute;
top:84px;
left:0;
width:100%;
background:#090909;
display:none;
flex-direction:column;
padding:40px;
text-align:center;
}

.show{
display:flex;
}

}